@import './css/card.css';
@import './css/score.css';
@import './css/animations.css';
@import './css/fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: repeating-linear-gradient(
      0deg,
      #ffffff 0,
      #ffffff 20%,
      transparent 0,
      transparent 50%
    ),
    repeating-linear-gradient(
      135deg,
      #fde0ff 0,
      #fde0ff 10%,
      transparent 0,
      transparent 50%
    );
  background-size: 6em 6em;
  background-color: #ffffff;
  opacity: 1;
}

#root {
  position: relative;
  padding-bottom: 40px;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
